<app-user-profile></app-user-profile>
<app-registration-form></app-registration-form>
<app-product-list></app-product-list>
<app-comments></app-comments>
<app-order-form></app-order-form>
<app-custom-select></app-custom-select>
<app-login></app-login>
<app-dynamic-tabs></app-dynamic-tabs>
<app-auto-validation-form></app-auto-validation-form>
<app-search-filter></app-search-filter>
<app-file-upload></app-file-upload>
<app-calculator></app-calculator>
<app-password-confirmation-form></app-password-confirmation-form>
<app-rating></app-rating>
<app-contact-form></app-contact-form>
<app-survey-form></app-survey-form>
<app-profile-management></app-profile-management>
<app-dynamic-fields-form></app-dynamic-fields-form>
<app-order-management></app-order-management>
<app-autocomplete-form></app-autocomplete-form>
